:root {
  --darkblue: #024e7a;
  --black: rgb(19, 18, 18);
  --lightblue: #80f3fc;
}

body {
  background:url(../src/image/dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--lightblue);
  font-family: "Goldman", cursive;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black, 1px 1px 2px black;
}

/*navigációs sáv mobil -----------------------------------------------------------------------------------------------------------------------------------------------------*/
.react-kep {
  display: none;
}

.nav-checkbox {
  display: none;
}
.nav-checkbox_gomb {
  display: flex;
  margin-left: 86vw;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 25px var(--lightblue);
  border: 1px solid rgb(128, 243, 252);
  background: var(--black);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border-radius: 20%;
  width: 40px;
  height: 40px;
}
.nav-checkbox_vonal {
  width: 80%;
  border-radius: 50%;
  height: 3px;
  background: white;
}

.nav_cont {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.nav_cont .nav_lista {
  display: flex;
  position: fixed;
  right: -200px;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(128, 243, 252);
  border-radius: 20px;
  margin-right: 1vw;
  background: linear-gradient(
    90deg,
    rgba(19, 19, 18, 0.9) 100%,
    rgba(10, 10, 10, 0.9) 100%
  ), url(../src/image/atom.png)rgb(19, 18, 18);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 45px var(--lightblue);
}
.nav_lista li {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-checkbox:checked ~ .nav_lista {
  visibility: visible;
  right: 0;
  animation: pulse-animation 1s 1;
}

.nav_lista li a {
  color:var(--lightblue);
}
.nav_lista li a:hover {
  color: aliceblue;
}
article {
  padding-top: 150px;
  margin: 3vw;
}
section{
  padding-top: 150px;
  margin: 3vw;
}

/*fő oldal név-kép-----------------------------------------------------------------------------------------------------------------------------------------------------*/


.focim {
  display: flex;
  align-items: center;
}
.fooldal-nev {
  font-size: 3em;
  margin-top: 115px;
  margin-left: 18vw;
}
.fooldal-kep {
  display: none;
  
opacity: 70%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  border-radius: 80px;
}

/*bemutatkozás -------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bemutatkozas_cont{
  margin-top: 0;
}


.bemutatkozas_cont p {
  font-size: 25px;
  
}


.ismeretek_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
}
.ismeretek_cont p {
  margin-top: 25px;
  font-size: 0.9em;
  border-radius: 50%;
  padding: 20px;
  letter-spacing: 1vw;
}

.html {
  background: radial-gradient(
    rgba(253, 72, 17, 1),
    rgba(253, 72, 17, 0.7),
    rgba(253, 72, 17, 0.1)
  );
  box-shadow: 0px 0px 20px rgb(253, 72, 17);
  color: rgb(253, 134, 97);
}
.css {
  background: radial-gradient(
    rgba(5, 132, 250, 1),
    rgba(5, 132, 250, 0.7),
    rgba(5, 132, 250, 0.1)
  );
  box-shadow: 0px 0px 20px rgb(5, 132, 250);
  color: rgb(116, 186, 252);
}
.javascript {
  background: radial-gradient(
    rgba(211, 207, 1, 1),
    rgba(211, 207, 1, 0.7),
    rgba(211, 207, 1, 0.1)
  );
  box-shadow: 0px 0px 20px rgb(211, 207, 1);
  color: rgb(252, 250, 145);
}

/*projectek -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.munka{
  margin-left: 10px;
}

.project-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  width: fit-content;
  height: fit-content;
}
.project {
  display: flex;
  flex-direction: column;
  width: 23em;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.project img {
  border: 2px solid var(--lightblue);
  width: 23em;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.project h3 {
  font-size: 20px;
}
/*ikonok-----------------------------------------------------------------------------------------*/
.fa-github {
  color: var(--lightblue);
  font-size: 40px;
}
.fa-html5 {
  font-size: 40px;
}
.fa-css3-alt {
  font-size: 40px;
}
.fa-square-js {
  font-size: 40px;
}

/*kapcsolat---------------------------------------------------------------------*/

.kapcsolat-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.kapcsolat-cont fieldset{
  border: none;
}

.kapcsolat-cont form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
input[type="text"]
{
    font-size:17px;
}
input[type="email"]
{
    font-size:17px;
}

.kapcsolat-cont input {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  width: 40vw;
  height: 40px;
  margin-top: 10px;
  padding: 6px;
  border: 2px solid rgb(128, 243, 252);
  margin-bottom: 5px;
  border-radius: 8px;
  background: radial-gradient(
    rgba(243, 245, 245, 0.1),
    rgba(239, 243, 243, 0.8)
  );
}
::placeholder {
  color: black;
  font-size: 20px;
}
.kapcsolat-cont textarea {
  border-radius: 6px;
  padding: 3px;
  width: 50vw;
  background: radial-gradient(
    rgba(243, 245, 245, 0.1),
    rgba(239, 243, 243, 0.8)
  );
  border: 1px solid rgb(128, 243, 252);
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 20px;
}

.kapcsolat_gomb {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  font-size: 30px;
  color: rgb(32, 90, 250);
  font-family: "Goldman", cursive;
  text-shadow: 1px 1px 2px black, 1px 1px 2px black, 0 0 5px rgb(238, 234, 234),
    0 0 15px rgb(247, 244, 244), 0 0 15px rgb(247, 244, 244),
    0 0 15px rgb(241, 243, 243), 0 0 15px rgb(245, 248, 248),
    0 0 15px rgb(247, 248, 248);
  background: radial-gradient(
    rgba(128, 243, 252, 0.1),
    rgba(128, 243, 252, 0.3),
    rgba(128, 243, 252, 1)
  );
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.kapcsolat_gomb:before {
  content: "";
  background: linear-gradient(
    45deg,
    #008cff,
    #028799,
    #00e1ff,
    #f5f7f5,
    #00ffd5,
    #2649f8,
    #f3f2f5,
    #00ffff,
    #0066ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}
.kapcsolat_ikonok{
  display: flex;
  justify-content: center;
  align-items:center;
  align-content: space-around;
  
}
.kapcsolat_ikonok a{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -200px;
color: var(--lightblue);
}
.kapcsolat_ikonok i{
  
  font-size: 50px;
  
}


.kapcsolat_gomb:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(128, 243, 252, 0.1),
    rgba(128, 243, 252, 0.3)
  );
  left: 0;
  top: 0;
  border-radius: 50%;
}


/*reszponzív kép-----------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .nav-checkbox_gomb {
    display: none;
  }

  .nav_cont {
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .nav_cont .nav_lista {
    display: flex;
    visibility: visible;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--lightblue);
    
    right: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    background: rgb(19, 18, 18);
    box-shadow: 0px 0px 15px var(--lightblue),
      0px 0px 25px var(--lightblue);
  }
  .nav_lista li {
    font-size: 23px;
  }

  .react-kep {
    display: block;
    width: 55 px;
    height: 55px;
  
  }

  .nav_lista li a {
    
    color: var(--lightblue);
    
    margin: 1vw;
  }
  .nav_lista li a:hover {
    color: aliceblue;
    
  }

  .fooldal-kep {
    display: block;
  }
}
