:root {
  --gray: rgb(42, 61, 69);
  --darkblue: rgb(17, 29, 74);
  --lightblue: rgb(128, 243, 252);
  --darkgreen: rgb(56, 104, 106);
  --lightgreen: rgb(23, 184, 144);
}


body {
  background: url(../quantum.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: var(--lightblue);
  font-family: "Goldman", cursive;
  letter-spacing: 2px;
  
/*navigációs sáv -----------------------------------------------------------------------------------------------------------------------------------------------------*/

  text-shadow: 1px 1px 2px black, 1px 1px 2px black, 0 0 5px rgb(238, 234, 234),
    0 0 15px rgb(247, 244, 244), 0 0 15px rgb(247, 244, 244),
    0 0 15px rgb(241, 243, 243), 0 0 15px rgb(245, 248, 248),
    0 0 15px rgb(247, 248, 248);
}
.nav_cont{
  position: fixed;
width: 100%;
z-index: 10000;
}

.nav-checkbox{
  display: none;
}
.nav-checkbox_gomb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
width: 40px;
height: 40px;
background: red;
}
.nav-checkbox_vonal {
width: 80%;
height: 3px;
background: black;
}


.nav_cont ul {
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border: 2px solid var(--lightblue);
  border-radius: 50%;
  
  margin-left: 1vw;
  margin-right: 1vw;
  background: radial-gradient(
    rgba(128, 243, 252, 0.1),
    rgba(128, 243, 252, 0.5),
    rgba(128, 243, 252, 1)
  );
  box-shadow: 100px 0px 45px var(--lightblue), -100px 0px 45px var(--lightblue);
}
.nav_cont ul li {
  font-size: 20px;
}

.atom {
  
  width: 70px;
  height: 70px;
  animation: spin 15s infinite;
  animation-timing-function: linear;
}

.nav_cont ul li a {
  background: rgba(250, 247, 247, 0.1);
  color: white;
  border-radius: 50%;
  margin: 1vw;
  
}
.nav_cont ul li a:hover {
  animation: pulse-animation 1s 1;
}

/*fő oldal név-kép-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.hatar{
  margin-bottom: 200px;
}

.focim {
  display: flex;
  align-items: center;
}
.fooldal-nev{
  font-size: 3em;
  margin-top: 115px;
  margin-left: 10vw;
}
.fooldal-kep {
  display: none;
  filter: drop-shadow(1px 1px 15px rgb(255, 255, 255));
  
  margin-top: 8vh;
  margin-left: auto; 
  margin-right: auto;
  width: 500px;
  border-radius: 30%;
}

/*bemutatkozás -------------------------------------------------------------------------------------------------------------------------------------------------------*/


.bemutatkozas_cont p {
  font-size: 20px;
}

article {
  margin: 3vw;
}
.ismeretek_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;

}
.ismeretek_cont p{
  margin-top: 15px;
  font-size: 30px;
  border-radius: 50%;
  padding: 15px;
}

.html{
  background: linear-gradient(rgba(253, 72, 17, 0.7), rgba(250, 123, 5, 0.7));
  box-shadow: 0px 0px 20px rgb(250, 123, 5);
}
.css{
  background: linear-gradient(rgba(2, 66, 163, 0.7), rgba(5, 132, 250, 0.7),rgba(2, 66, 163, 0.7));
  box-shadow: 0px 0px 20px rgb(5, 132, 250);
}
.javascript{
  background: linear-gradient(rgba(243, 239, 3, 0.7), rgba(248, 240, 165, 0.7), rgba(243, 239, 3, 0.7));
  box-shadow: 0px 0px 20px rgb(248, 240, 165);
}


/*projectek -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.project-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  border: 2px solid white;
  margin-top: 30px;

  width: fit-content;
  width: fit-content;
  height: fit-content;
}
.project {
  border: 2px solid var(--lightblue);
}
.project img {
  width: 300px;
}
@media screen and (min-width: 576px) {
  
}
@media screen and (min-width: 768px) {
  .fooldal-kep {
    display: block;
  };
}
@media screen and (min-width: 992px) {
  
}
@media screen and (min-width: 1200px) {
  
}
