@charset "utf-8";

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}
body {
  background-image: linear-gradient(
    #05e9e6,
    #f9ca72,
    #f6f8f6
  );
  background-repeat: no-repeat;
}
.felhő-cont {
  display: flex;
  margin-top: 1.5rem;
}
.felhő1 {
  position: absolute;
  background-color: #ffffff;
  width: 18rem;
  height: 4rem;
  margin-top: 2rem;
  margin-left: 13vw;
  border-radius: 50%;
  opacity: 50%;
}
.felhő2 {
  position: absolute;
  background-color: #ffffff;
  width: 18rem;
  height: 4rem;
  margin-top: 2rem;
  margin-left: 25vw;
  border-radius: 50%;
  opacity: 50%;
}
.felhő3 {
  position: absolute;
  background-color: #ffffff;
  width: 18rem;
  height: 4rem;
  margin-top: 2rem;
  margin-left: 60vw;
  border-radius: 50%;
  opacity: 80%;
}
.nap {
  position: absolute;
  background-color: #f9ed03;
  width: 8rem;
  height: 8rem;
  margin-top: 2rem;
  margin-left: 73vw;
  border-radius: 50%;
  box-shadow: #fff200 0 0 40px 30px;
}
.csillag-cont {
  display: flex;
  justify-content: center;
}
.csillag1 {
  position: absolute;
  width: 1rem;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  border-left: 2.2rem solid transparent;
  border-right: 2.2rem solid transparent;
  border-top: 4rem solid #e2e606;
}
.csillag2 {
  position: absolute;
  width: 1rem;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.3rem;
  border-left: 2.2rem solid transparent;
  border-right: 2.2rem solid transparent;
  border-bottom: 4rem solid #e2e606;
}
.méret-pozíció{
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.teteje {
  width: 10em;
  height: 0;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  border-bottom: 10rem solid #02681c;
}
.kék-dísz {
  background: radial-gradient(#ffffff, #0000ff, #0000ff);
  margin-top: 3rem;
  margin-left: -0.5rem;
}
.piros-dísz {
  position: absolute;
  background: radial-gradient(#ffffff, #ff0000, #ff0000);
  margin-top: 7rem;
  margin-left: -3rem;
}
.közepe {
  width: 19rem;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  border-bottom: 10rem solid #02681c;
}
.sárga-dísz {
  background: radial-gradient(#ffffff, #ffff00, #ffff00);
  margin-top: 1rem;
  margin-left: 5rem;
}
.lila-dísz {
  background: radial-gradient(#ffffff, #800080, #800080);
  margin-top: 6rem;
}
.alja {
  width: 23rem;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  border-bottom: 10rem solid #02681c;
}
.rózsaszín-dísz {
  background: radial-gradient(#ffffff, #ffc0cb, #ffc0cb);
  margin-top: 7rem;
}
.narancs-dísz {
  background: radial-gradient(#ffffff, #ffa500, #ffa500);
  margin-left: 4rem;
}
.cián-dísz {
  background: radial-gradient(#ffffff, #00ffff, #00ffff);
  margin-top: 5rem;
  margin-left: 9rem;
}
.törzs {
  background-color: #3b2b14;
  width: 2rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.talaj {
  background-color: #eeeded;
  width: auto;
  height: 4.5rem;
}
